.App {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.App-nav {
  background: #00A843;
  min-height: 100%;
  height: auto;
  width: 200px;
  flex: 0 0 auto;
}

.App-logo {
  height: 64px;
  width: 64px;
  margin: 68px auto 20px;
}

.App-logo img {
  width: 64px;
  height: 64px;
}

.App-name {
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.App-main-container {
  flex: 1 0 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 48px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Avatar-img {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 8px;
}

.Avatar-divider {
  border-top: 1px solid rgba(255,255,255,0.20);
  height: 1px;
  margin: 40px 26px;
}

.Avatar-name {
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}

.Avatar-img img {
  max-width: 100%;
  max-height: 100%;
}

.Avatar-logout {
  cursor: pointer;
  font-size: 16px;
  color: rgba(42,56,66,0.65);
  text-align: center;
  margin-top: 12px;
}
