.Button {
  padding: 12px 20px;
}

.Button.primary {
  background-color: #00a843;
  color: #fff;
  border: 1px solid #00a943;
}
.Button.primary:hover {
  background-color: #00c34d;
}

.Button.default {
  background-color: lightgray;
}

.Button.link {
  color: #00a843;
  background: none;
  border: none;
  cursor: pointer;
}

.Button.link:hover {
  text-decoration: underline;
}