.Dialog-container {
  width: 100%;
  left: 0;
}

.Dialog {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.30);
  border-radius: 3px;
  text-align: center;
  width: 400px;
  height: 250px;
  position: absolute;
  z-index: 1000;
  margin: -125px 0 0 -200px;
  top: 50%;
  left: 50%;
  padding-top: 28px;
}

.Dialog-backdrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: absolute;
}

.Dialog-title {
  font-size: 24px;
  margin-bottom: 36px;
}

.Dialog-buttons {
  height: 92px;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  padding-top: 76px;
  text-transform: uppercase;
}

.Dialog-button {
  cursor: pointer;
  font-size: 18px;
  width: 50%;
  font-weight: 600;
  margin: 36px 0;
  display: inline-block;
}

.Dialog-button:hover {
  color: #666;
}

.Dialog-confirm-button {
  color: #00a843;
}
.Dialog-confirm-button:hover {
  color: #00ce52;
}