.IconButton {
  width: 16px;
  height: 16px;
  visibility: hidden;
  margin-left: 16px;
  /* margin-top: 8px; */
  display: inline-block;
  /* float: left; */
  /* line-height: 36px; */
}

.IconButton img {
  /* max-width: 100%; */
  max-height: 100%;
  cursor: pointer;
  vertical-align: middle;
}

.IdeaList {
  margin: 12px auto;
}

.IdeaList-empty-msg {
  font-size: 20px;
  text-align: center;
  margin: 24px 0;
}

.IdeaList-empty-msg-img {
  width: 64px;
  height: 96px;
  font-size: 20px;
  margin: auto;
}

.IdeaList-empty-msg img {
  margin-bottom: 24px;
  max-width: 100%;
  max-height: 100%;
}

.IdeaList-AddIdeaButton {
  float: right;
  width: 50px;
  height: 50px;
}

.IdeaList-AddIdeaButton .AddIdeaButton {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: 50px;
  cursor: pointer;
}

.Section-header {
  overflow: auto;
}

.Section-header h1 {
  float: left;
}

.Idea-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2.2em 0;
  padding: 0;
  align-items: center;
  min-height: 36px;
}
.Idea-container-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0em 1.2em;
  overflow: hidden;
  list-style: none;
}
.Idea-container-cell > h1,
.Idea-container-cell > h2,
.Idea-container-cell > h3,
.Idea-container-cell > h4,
.Idea-container-cell > h5,
.Idea-container-cell > h6 {
  margin: 0;
}

.Ideas-container {
  transition: all 0.3s ease-out;
}

.Idea-container-cell {
  /* line-height: 36px; */
}

/* Table column sizing
================================== */
.Idea-container-content.Idea-container-cell {
  width: 40%;
  line-height: 36px;
}
.Idea-container-score.Idea-container-cell {
  width: 12%;
  text-align: center;
}
.Idea-container-actions.Idea-container-cell {
  width: 12%;
  min-width: 56px;
}

.Idea-container-actions:hover .IconButton {
  visibility: visible;
}
.Idea-container-actions.IdeaEdit .IconButton {
  visibility: visible;
}

.Idea-container-content .TextField {
  margin: 0 auto;
  float: left;
  width: 90%;
}
.Idea-container-content .TextField input {
  margin: 0;
  width: 100%;
}

.Idea-container-content:before {
  content: '';
  background: rgba(42,56,66,0.40);
  /* display: inline-block; */
  margin-left: 1px;
  margin-right:16px;
  margin-top: 14px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  float: left;
}

.Idea-List-header .Idea-container-content:before {
  display: none;
}
