.Login {
  width: 485px;
  margin: 10% auto;
}

.Login h1 {
  font-weight: normal;
  font-size: 40px;
}

form input {
  width: 100%;
}

.Login-form-footer {
  overflow: auto;
  margin-top: 64px;
}
.Login-form-footer > .Button  {
  float: left;
}
.Login-form-footer .Login-signup-link  {
  float: right;
}
.Login-form-footer .Login-signup-link  .Button {
  padding-right: 0;
  padding-left: 0;
}

.Login-signup-link {
  line-height: 44px;
  height: 44px;
}