.Signup {
  width: 485px;
  margin: 10% auto;
}

.Signup h1 {
  font-weight: normal;
  font-size: 40px;
}

form input {
  width: 100%;
}

.Signup-form-footer {
  overflow: auto;
  margin-top: 64px;
}
.Signup-form-footer > .Button  {
  float: left;
}
.Signup-form-footer .Signup-login-link  {
  float: right;
  line-height: 44px;
  height: 44px;
}
.Signup-form-footer .Signup-login-link  .Button {
  padding-right: 0;
  padding-left: 0;
}
