.TextField {
  margin: 22px 0;
}

.TextField input[type="text"],
.TextField input[type="email"],
.TextField input[type="password"] {
  margin: 12px 0;
  display: block;
  border: 1px solid rgba(42,56,66,0.50);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 8px 0;
}

.TextField-help-text {
  font-size: 0.9rem;
}
.TextField-help-text.error {
  color: red;
}
.TextField-help-text.success {
  color: green;
}
.TextField-help-text.info {
  color: #333;
}