@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body, .root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #2A3842;
  box-sizing: border-box;
}

.root {
  position: relative;
}

.hidden {
  display: none;
}

.Section-header {
  padding: 32px 24px;
  border-bottom: 1px solid rgba(42,56,66,0.20);
  margin-bottom: 42px;
}

.Section-header h1 {
  font-size: 28px;
  font-weight: normal;
}
